<h1>Make like a Roman Agent</h1>
<form method="post" action="/" name="encode">
  <fieldset class="form-group">
    <legend><%= @output %></legend>
    <label for="source">Enter your message to encode</label>
    <input type="text" class="form-control" name="source" id="source"
      required>
    <label for="encode">Choose a number to be your key</label>
    <input type="number" class="form-control" name="encode" id="encode"
      required>
    <input id="submit" type="submit" class="btn btn-lg btn-primary"
      value="Make it Secret">
  </fieldset>
</form>
