@font-face {
  font-family: 'Archeologicaps';
  src: url('archeologicaps.woff2') format('woff2'),
       url('archeologicaps.woff') format('woff'),
       url('archeologicaps.ttf')  format('truetype');
}

body {
  background-image: url('marble.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-color: rgb(255, 255, 255);
  background-attachment: fixed;
}

h1 {
  margin-top: 25%;
  font-family: 'Archeologicaps', serif;
}

label, .btn {
  font-family: 'Georgia';  
}

.btn {
  border: 1px solid rgb(150, 150, 150);
  box-shadow: 5px 5px 5px rgb(75, 75, 75);
}